*.dll
.vscode/
bin/
obj/
*/
allegro*
*.depend
*.layout
*_file_list
*.jpg
*.png
*.wav
*.ogg
*.ttf
*.otf
*.txt
*.db
assets/bestiary/*
assets/entities/*
assets/gui/*
assets/items/*
assets/level/*
assets/mainmenu/*
assets/music/*
assets/particles/*
assets/sounds/*
assets/sounds_streaming/*
assets/spells/*
assets/swipes/*
assets/text/*
assets/traps/*

Makefile*
*.out
*.o