*.dll
.vscode/
bin/
obj/
*.DS_Store
allegro*
*.depend
*.layout
*_file_list
*.jpg
*.wav
*.ogg
*.ttf
*.otf
*.txt
*.db
game
.DS*
assets/bestiary/*
assets/entities/*
assets/gui/*
assets/items/*
assets/level/*
assets/music/*
assets/particles/*
assets/sounds/*
assets/sounds_streaming/*
assets/spells/*
assets/swipes/*
assets/text/*
assets/traps/*
Makefile*
*.out
*.o
*.cbp
!map.txt
